:root{
  --primary-color:#1DA1F2;
  --cor-cinza:rgb(236, 236, 236);
}
*{
  padding:0;
  margin:0;
  outline: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans' ,Arial, Helvetica, sans-serif;
 
}



html,body{
  height: 100%;
  background-color:rgba(240,240,220);
}


.main-header{
  width:18%;
  height: 100%;
  position: fixed;
  border-right: 1px solid #ddd;
}

.main-header-content{
  padding:20px;
  position: relative;
}

.main-header .main-header-content .logo{
  width: 40px;
  height: 30px;
}

.main-header-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.main-header-content img{
  margin: 5px 0;
}

.main-header-content .item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:20px 0;
}

.main-header-content .item .profile1{
  border:1px solid var(--primary-color);
}
.main-header-content .item span{
  font-weight: bold;
  padding-left: 8px;
  font-size:20px;
  line-height: 30px;
}

.main-header-content .item span:hover{
  cursor: pointer;
  color:var(--primary-color);
}



.main-header-content .profile1{
  border-radius: 50%;
}


.profile{
  padding:30px 8px;
  width: 100%;
  margin-top:50px;
  border-top:1px solid #ccc;
  display: flex;
  align-items: center;
}



.profile .profile-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-info{
  width: 215px;
  display: flex;
  flex-direction: column;
  
}

.profile-info strong{
  text-align: center;
  font-size:15px;
}

.profile-info p{
  display: inline-block;
  font-size:12px;
  text-align: center;
}