:root{
  --primary-color:#1DA1F2;
  --cor-cinza:rgb(236, 236, 236);
}
*{
  padding:0;
  margin:0;
  outline: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans' ,Arial, Helvetica, sans-serif;
 
}

html,body{
  height: 100%;
}

.app{
  display: grid;
  grid-template-columns:  250px 1fr 300px;
}



.header-content{
  
  padding-top:20px;
  padding: 0 2%;
  border-right: 1px solid rgb(236, 236, 236);


  
}

.content{
  margin:20px 0px 0 20px;
}

.logo{
  width: 23px;
  height: 23px;
  background-image: url('../assets/img/logo.png');
  background-size:100% 100%;
}


.header-content > .content nav{
  margin-top:20px;
}

.user-info{
  border-top:1px solid rgb(236, 236, 236);
}

.content  ul  {
  list-style-type:  none;
}

.header-content ul li{
  margin-top:25px;
  font-size:20px;
  font-weight: bold;
}

.header-content ul li:hover{
  transition:2s;
  color:var(--primary-color);
  cursor: pointer;
}

.content .button{
  margin:40px 0 40px 0;
}

.content > .button > button{
  padding: 10px;
  width:180px;
  background-color:var(--primary-color);
  border:0;
  color:white;
  height: 60px;
  font-size:15px;
  font-weight: bold;
  border-radius: 40px;

}

.user-info{

  border-top: 1px solid rgb(236, 236, 236);
  display: flex;
  padding:10px;
}

.user-info span{
  background-color:gray;
  padding:10px;
  border-radius: 50%;
  margin: 8px 8px 0 0;
}

.user-name{
  margin:10px 10px 0 5px;
  text-align: center;
  padding-left: 10px;;
}

.user-name p{
  font-size:13px;
  line-height: 23px;

}

.user-name p:nth-child(1){
  font-weight: bold;
}


.feed{
  padding-top:20px;
  border:  1px solid rgb(236, 236, 236);
 
}


.user-status{
  width: 100%;
  padding: 0 2%;
}

.title{
  padding-bottom:8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-cinza);
}

.title h2{
  font-size:18px;
  line-height: 28px;
}

.title span {
  color:rgb(190, 190, 190);
}

.title span:hover{
  transition: 2s;
  color:var(--primary-color);
  cursor: pointer;
}

.user-tweet{
  padding-top:20px;
}

.user-tweet span{
  color:rgb(175, 170, 170);
  background-color:rgb(207, 199, 199);
  padding:10px;
  border-radius: 50%;
}

.followers{
  padding-top:30px;
  border-left: 1px solid rgb(236, 236, 236);
  position: fixed;
  
}




