* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

body {
  background-color: #F5F8FA;
}

.material-icons {
  color: #fff;
}

.container1 {
  width: 100%;
  max-width: 500px;
  margin: 120px auto;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 100px auto;
  padding: 20px;
}

.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main-section {
  width: 100%;
}

.section1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 172, 238, 0.5)), to(rgba(0, 172, 238, 0.5))), url("../assets/img/logo.png");
  background-image: linear-gradient(rgba(0, 172, 238, 0.5), rgba(0, 172, 238, 0.5)), url("../assets/img/logo.png");
  background-size: 100% 100%;
  background-position: bottom right;
}

.section1 .section-content {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1 .item {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.section1 .item p {
  padding-left: 15px;
}

.main-section2 {
  width: 100%;
}

.main-section2 .section2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-section2 .section2-content .logo {
  width: 50px;
  height: 36px;
}

.main-section2 .section2-content h2 {
  padding-top: 40px;
  width: 400px;
  font-size: 28px;
}

.main-section2 .section2-content p {
  padding-top: 30px;
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
  padding-left: 20px;
}

.main-section2 .section2-content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-section2 .section2-content .buttons a:nth-child(1) {
  width: 95%;
  display: inline-block;
  background-color: blue;
  margin-top: 8px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  background-color: #00acee;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
}

.main-section2 .section2-content .buttons a:nth-child(1):hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.main-section2 .section2-content .buttons a:nth-child(2) {
  width: 95%;
  display: inline-block;
  background-color: blue;
  margin-top: 16px;
  padding: 8px;
  color: #00acee;
  text-decoration: none;
  background-color: white;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #00acee;
}

.main-section2 .section2-content .buttons a:nth-child(2):hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: rgba(0, 172, 238, 0.1);
}

footer {
  min-height: 100px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

footer .footer-content {
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

footer .footer-content ul {
  list-style: none;
}

footer .footer-content ul li {
  display: inline-block;
  text-align: center;
}

footer .footer-content ul li a {
  font-size: 13px;
  padding: 10px 4px;
  text-decoration: none;
  color: rgba(130, 130, 130, 0.9);
}

footer .footer-content ul li a:hover {
  text-decoration: underline;
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

body {
  background-color: #F5F8FA;
}

.container3 {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 20px auto;
}

main {
  width: 100%;
}

main .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .form-content .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .form-content img {
  width: 40px;
  height: 30px;
  margin: 8px 0;
}

main .form-content h2 {
  padding: 10px 0;
  font-size: 25px;
  line-height: 35px;
}

main .form-content form {
  margin-top: 20px;
}

main .form-content fieldset {
  border: 0;
}

main .form-content form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .form-content form .inputs label {
  color: #00acee;
}

main .form-content form .inputs input {
  border-right: none;
  border-left: none;
  border-top: none;
  margin: 20px 0;
  display: inline-block;
  width: 100%;
  padding: 0 0 8px 8px;
  font-size: 18px;
  background-color: #F5F8FA;
}

main .form-content form .inputs input:focus {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-color: #00acee;
}

main .form-content form button {
  width: 100%;
  background-color: #00acee;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px;
  font-size: 15px;
  line-height: 25px;
  border-radius: 30px;
  font-weight: bold;
  color: #fff;
}

main .form-content form button:hover {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
  opacity: 0.8;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

main .link-list {
  margin-top: 20px;
  text-align: center;
}

main .link-list a {
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
  color: #00acee;
}

main .link-list a + a {
  padding-left: 15px;
}

main .link-list a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */